<% if(loggedin){ %>
	<p style="font-family: Arial;"><%= user.username + "#" + user.discriminator %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hacker Coins: <%= dbuser.coins %></p>
<% } %>

<p style="text-align: center;"><span style="font-size: 36px; font-family: Arial">Programming/Hacking</span></p>

<p style="text-align: center; font-family: Arial"><span style="font-size: 18px;">We are the world's most elite programmers and hackers to exist, and we created this retarded discord server for the sake of whatever the fuck. Click <a href="https://discord.gg/avHKqQd">here</a> to join.&nbsp;</span><span style="background-color: transparent; text-align: inherit; font-size: 18px; font-family: Arial"></span></p>

<p style="text-align: center; font-family: Arial">
	<br>
</p>

<ul style="list-style-type: square; font-family: Arial;">
	<% if(!loggedin){ %>
		<li style="text-align: center;"><a href="/login">Login</a></li>
	<% } %>
	<li style="text-align: center;"><a href="/games">Games</a></li>
	<li style="text-align: center;"><a href="/bot">Bot</a></li>
	<li style="text-align: center;"><a href="/about">About</a></li>
</ul>
