<% if(loggedin){ %>
	<p style="font-family: Arial;"><%= user.username + "#" + user.discriminator %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hacker Coins: <%= dbuser.coins %></p>
<% } %>

<p style="text-align: center;"><span style="font-size: 36px; font-family: Arial">Programming/Hacking</span></p>

<p style="text-align: center; font-family: Arial"><span style="font-size: 18px;">The discord server of a&nbsp;</span><span style="background-color: transparent; text-align: inherit; font-size: 18px; font-family: Arial">generation</span></p>

<p style="text-align: center; font-family: Arial">
	<br>
</p>

<ul style="list-style-type: square; font-family: Arial;">
	<li style="text-align: center;"><a href="/login">Login</a></li>
	<li style="text-align: center;"><a href="http://google.com">Games</a></li>
	<li style="text-align: center;"><a href="http://google.com">Bot</a></li>
	<li style="text-align: center;"><a href="http://google.com">About</a></li>
</ul>
